.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/hero_background.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  color: var(--background);
}

.hero-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  margin-bottom: 14rem;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75px;
}

.hero-logo img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.hero-footer {
  padding: 1rem;
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
}

.scroll-arrow {
  font-size: 2rem;
}
