.about-dj {
  height: 100vh;
  background: var(--background);
  scroll-snap-align: start;
}

.about-dj-container {
  display: flex;
  height: 100%;
}

.about-dj-image-section {
  width: 50%;
  position: relative;
}

.about-dj-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--xxl);
}

.about-dj-header {
  margin-bottom: var(--xl);
  text-align: right;
  padding: var(--m);
}

.about-dj-text {
  border-top: 2px solid var(--primary);
  padding: var(--l);
}

.about-dj-text p {
  color: var(--text);
  opacity: 0.9;
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .about-dj {
    height: auto;
    min-height: 100vh;
  }

  .about-dj-container {
    flex-direction: column-reverse;
  }

  .about-dj-image-section,
  .about-dj-content {
    width: 100%;
  }

  .about-dj-image-section {
    height: 50vh;
    min-height: 400px;
  }

  .about-dj-content {
    gap: var(--xl);
  }

  .about-dj-header {
    padding-top: var(--m);
  }

  .about-dj-text {
    margin-top: var(--l);
    padding: var(--m) var(--xs);
  }

  .about-dj-text p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--m);
  }
}
